Source: gz-gui10
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 11),
               doxygen,
               libgz-cmake4-dev,
               libgz-common6-events-dev,
               libgz-common6-profiler-dev,
               libgz-math8-dev,
               libgz-msgs11-dev,
               libgz-plugin3-dev,
               libgz-rendering9-ogre1-dev,
               libgz-tools2-dev,
               libgz-transport14-dev,
               libgz-utils3-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libtinyxml2-dev,
               pkg-config,
               qml6-module-qt-labs-folderlistmodel,
               qml6-module-qt-labs-platform,
               qml6-module-qt-labs-settings,
               qml6-module-qtcharts,
               qml6-module-qtgraphicaleffects,
               qml6-module-qtqml-models,
               qml6-module-qtquick-controls,
               qml6-module-qtquick-dialogs,
               qml6-module-qtquick-layouts,
               qml6-module-qtquick-templates,
               qml6-module-qtquick-window,
               qml6-module-qtquick,
               qml6-module-qtcore,
               qml6-module-qtqml-workerscript,
               qml6-module-qt5compat-graphicaleffects,
               libqt6svg6,
               qt6-5compat-dev,
               qt6-base-devl,
               qt6-base-private-dev,
               qt6-declarative-dev,
               qt6-declarative-private-dev
Vcs-Browser: https://github.com/gazebosim/gz-gui
Vcs-Git: https://github.com/gazebo-release/gz-gui10-release
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-gui10
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Gui classes and functions for robot apps - Shared library
 Gazebo Gui is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains the main libraries

Package: libgz-gui10-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake4-dev,
         libgz-common6-events-dev,
         libgz-common6-profiler-dev,
         libgz-gui10 (= ${binary:Version}),
         libgz-math8-dev,
         libgz-msgs11-dev,
         libgz-plugin3-dev,
         libgz-rendering9-ogre1-dev,
         libgz-tools2-dev,
         libgz-transport14-dev,
         libgz-utils3-dev,
         libprotobuf-dev,
         libprotoc-dev,
         libtinyxml2-dev,
         qml6-module-qt-labs-folderlistmodel,
         qml6-module-qt-labs-platform,
         qml6-module-qt-labs-settings,
         qml6-module-qtcharts,
         qml6-module-qtgraphicaleffects,
         qml6-module-qtqml-models,
         qml6-module-qtquick-controls,
         qml6-module-qtquick-dialogs,
         qml6-module-qtquick-layouts,
         qml6-module-qtquick-templates,
         qml6-module-qtquick-window,
         qml6-module-qtquick,
         qml6-module-qtcore,
         qml6-module-qtqml-workerscript,
         qml6-module-qt5compat-graphicaleffects,
         libqt6svg6,
         qt6-5compat-dev,
         qt6-base-devl,
         qt6-base-private-dev,
         qt6-declarative-dev,
         qt6-declarative-private-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Gui classes and functions for robot apps - Development files
 Gazebo Gui is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package for development libraries and headers.
